.banner-stats-spinner-container .spinner {
    margin: auto;
    padding-top: 40px;
}

/* BANNER OVERRIDES */
#page-metadata-banner #banner-stats-wrapper {
    padding: 0 10px 0 0;
}

/* AUI OVERRIDES */
#page-metadata-banner .banner #banner-stats:hover {
    border-color: #999;
}

#page-metadata-banner .banner #banner-stats.active {
    border: 1px solid #ccc;
    border-radius: 3.01px; /* http://blogs.atlassian.com/2012/11/rounded-corners-and-gradients-in-ie10-the-4-missing-pixels/ */
}

/* Use icon-font instead of pluginicon image */
#page-metadata-banner .banner #banner-stats {
    position: relative;
}

#page-metadata-banner .banner #banner-stats:before {
    font-family: "Atlassian Icons";
    font-weight: normal;
    content: "\f1b0";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    top: 50%;
    speak: none;
    position: absolute;
    padding-right: 3px;
    font-size: 16px;
    margin-top: -11px;
    margin-right:-14px;
}

/* Use icon-font in a dialog */
#page-metadata-banner .banner #banner-stats > span {
    padding-left: 21px;
}

#banner-stats-content > ul > li {
    list-style: none;
}

#banner-stats-content > ul > li span.link-text{
  padding-left: 6px;
}


